@model List<SliderGetModel>
@{
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header py-1 d-flex justify-content-between align-items-center">
                <h5 class="card-title">Sliders</h5>
                <a asp-controller="Slider" asp-action="Create" class="btn btn-sm btn-primary">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive ">
                    <table class="table table-bordered table-hover table-striped mb-0 text-center align-middle">
                        <thead class="table-secondary">
                            <tr>
                                <th style="width: 20px;">Id</th>
                                <th style="width: 20px;">Index</th>
                                <th style="width: 100px;">Image</th>
                                <th>Slider Title</th>
                                <th>Slider Description</th>
                                <th>Active</th>
                                <th style="width: 50px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var slider in Model)
                            {
                                <tr>
                                    <td>@slider.Id</td>
                                    <td>@slider.Index</td>
                                    <td>
                                        <img src="~/img/@slider.Image" class="img-fluid" alt="">
                                    </td>
                                    <td>@slider.Title</td>
                                    <td>@slider.Description</td>
                                    <td>
                                        <i
                                            class="fa-solid fa-circle-@(slider.IsActive ? "check text-success" : "xmark text-danger")"></i>
                                    </td>
                                    <td>
                                        <a asp-controller="Slider" asp-action="Edit" asp-route-id="@slider.Id"
                                            class="btn btn-primary btn-sm mb-1">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                        <a asp-controller="Slider" asp-action="Delete" asp-route-id="@slider.Id"
                                            class="btn btn-danger btn-sm mb-1">
                                            <i class="fa-solid fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>