@using dotnet_store.Data
 @model Product
 
 <div class="card shadow">
    <div class="img-wrap">
         <span class="badge @(Model.IsActive ?"bg-success" : "bg-danger" )">@(Model.IsActive ?"% Sale" : "Sold Out" )</span>
        <img src="~/img/@Model.Image" alt="@Model.Name" class="card-img-top">
    </div>

    <div class="border-top info-wrap">
        <a href="details.html" class="float-end btn btn-light">
            <i class="fa-regular fa-heart"></i>
        </a>
        <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id" class="title text-truncate">@Model.Name</a>
        <div class="price-wrap">
            <span class="price-discount">@(Model.Price-1000) ₺</span>
            <del class="price">@Model.Price ₺</del>
        </div>
    </div>
</div>